@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

:root {
  --background-clean: rgb(176, 228, 253);
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: aqua;
}

#contorno {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
  padding: 20px;
  position: relative;
}

span {
  position: absolute;
  top: -10px;
  background-color: white;
  padding: 0 3px;
}

#form {
  background-color: var(--background-clean);
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 70%;
  display: flex;
  padding: 5px 0;
}

label {
  width: 50%;
}

input {
  width: 50%;
}

select {
  width: 50%;
}